.navbar-button {
    font-family: var(--ff-nunitor);
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    background: #cca464;
    color: black;
    border-color: transparent;
    border-radius: 96% 4% 97% 3% / 4% 93% 7% 96%;
}

.CTA-button {
    font-family: var(--ff-main);
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    background: #ffffff;
    border-color: transparent;
    color: #171717;
    padding: calc(0.75em) calc(1.2em);
    display: inline-block;
    transition: all 250ms;
    border-radius: 96% 4% 97% 3% / 4% 93% 7% 96%;
    box-shadow: 0px 8px 10px rgba(59, 59, 59, 0.1);
    border-style: solid;
    border-width: normal;

    text-decoration: none;
    transition-duration: 0.4s;
}

.CTA-button:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow-3);
}

.ghost-button {
    font-family: var(--ff-main);
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
    padding: calc(0.75em) calc(1.2em);
    display: inline-block;
    transition: all 250ms;
    border-radius: 96% 4% 97% 3% / 4% 93% 7% 96%;
    border-style: solid;
    border-width: normal;
    transition-duration: 0.4s;
}

.ghost-button:hover {
    transform: translateY(-3px);
    box-shadow: var(--box-shadow-3);
}

.filled-button {
    font-family: var(--ff-nunitor);
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    background: #cca464;
    color: black;
    border-color: transparent;
    padding: 0.7em 2em;
    transition: all 250ms;
    border-radius: 96% 4% 97% 3% / 4% 93% 7% 96%;
    cursor: pointer;
    text-decoration: none;
}

.filled-button:hover {
    opacity: 50%;
    transform: translateY(2px);
}